pytorch-lightning
pyrender
opencv-python
yacs
scikit-image
einops
timm
dill
pandas
rich
hydra-core
hydra-submitit-launcher
hydra-colorlog
pyrootutils
webdataset
chumpy
roma
joblib
seaborn
wandb
appdirs
jsonlines
xtcocotools
loguru
optree
fvcore
pycocotools
tensorboard
huggingface_hub
smplx
scipy
tqdm
pyzmq
pygltflib==1.16.5
trimesh
braceexpand
termcolor
onnx
onnxscript
onnxruntime-gpu>=1.17.0
omegaconf
ultralytics
networkx==3.2.1