pytorch-lightning
pyrender
opencv-python
yacs
scikit-image
einops
timm
rich
chumpy
roma
joblib
xtcocotools
loguru
optree
fvcore
pycocotools
huggingface_hub
smplx
scipy
tqdm
pyzmq
pygltflib==1.16.5
trimesh
braceexpand
termcolor
onnx
onnxscript
onnxruntime-gpu>=1.17.0
omegaconf
ultralytics
networkx==3.2.1
# detectron2 transitive deps (we install detectron2 with --no-deps)
cloudpickle
hydra-core
iopath
tabulate
matplotlib
packaging